/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global body styling */
body {
  min-height: 100vh;
  background: radial-gradient(circle at center, #050505, #000);
  font-family: "Courier New", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00ff66;
}
